 
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" text="">
          </ion-back-button>
        </ion-buttons> 

        <div class="book_portada">
            <ion-img src="assets/imagenes/book.gif"></ion-img>
        </div>
    </ion-toolbar>
</ion-header> 


<ion-content>
    <ion-card class="ion-no-margin">
        <ion-img src="assets/imagenes/header2.png"></ion-img>
    <ion-card-header>
        <ion-card-title>
            Ingresar
            
          </ion-card-title>
    </ion-card-header>


        <ion-card-content>
          <form [formGroup]="formularioLogin">
            <div class="wrapform">
              <ion-item>
                <ion-icon name="mail-outline"></ion-icon>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input formControlName="nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
              </ion-item>
            </div>
          </form>
         
        <div class="password_forgot">
            <ion-button fill="clear" class="ion-no-padding">¿Olvidaste la Contraseña?</ion-button>
        </div>

        <div class="sign-btn-wrap">
            <ion-button (click)="ingresar()"  [routerLink]="['/producto']" shape="round" fill="solid" class="sign-btn">Ingresar</ion-button>
        </div>

    

        <div class="text-tag">
            <span> ¿Deseas entrar por Redes Sociales? </span>
              </div>
      
              <div class="social-btns">
                <ion-button fill="clear" shape="round" class="facebookbtn ion-no-padding">
                  <ion-img src="assets/imagenes/facebook.png"></ion-img> 
                </ion-button>
      
                <ion-button fill="clear" shape="round" class="googlebtn ion-no-padding">
                  <ion-img src="assets/imagenes/google.png"></ion-img> 
                </ion-button>
      
                <ion-button fill="clear" shape="round" class="applebtn ion-no-padding">
                  <ion-img src="assets/imagenes/apple.png"></ion-img> 
                </ion-button>
                
        </div>
        



    </ion-card-content>


</ion-card>

<div class="ion-card-footer">
    <p><a target="_self" rel="noopener" href="registro">¿No tienes una cuenta? Registrate</a> </p>
 

</div>

</ion-content>