ion-header{
    position: absolute;
}



ion-toolbar{
    --ion-background-color: transparent; 
    --opacity: 0; 
}

ion-card-title{
  margin-top: 30px;
  font-size: 25px;
  color: #3A5199;
  text-align: center;
  font-weight: bold;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ion-content{
    --ion-background-color: white; 
}

.wrapform{
    margin-top: 15px ;

}

ion-item{
            color: #74787E; 
    --border-color: #74787E;
    --highlight-color-focused: #647B9D; 
    --padding-start: 0; 
    --inner-padding-end:0; 

    font-size: 12px;

    ion-input{
        color: black;
        font-size: 20px;

    }

    ion-icon{
        padding-right: 6px;
        font-size: 20px;
    }
}

ion-input:hover{
    color: #1248a0
}

.password_forgot{
    text-align: right;
    
    ion-button{
        font-size: 15px ;
        color: black; 
        font-weight: bold;
    }
}

.sign-btn-wrap{
    text-align: center;
   padding-top: 20px;

    .sign-btn{
        --ion-color-primary:#FBFCFC;
        --background-activated: #e1eaf4;
        --background-focused: #e1eaf4;
        --background-hover: #647890; 
        color: white;
        border-radius: 25;
        --background: #3A5199;
        font-weight: bold;

    }

}

.text-tag{
    margin-top: 30px;
    text-align: center;
    span{
      font-size: 16px;
      font-weight: bold;
      color: #8593AE;
    }
  }
  
  .social-btns{
    margin-top: 25px;
    text-align: center;
    ion-button{
      width: 60px;
      padding-left: 5px !important; 
    }
  }

  ion-card{
    --ion-background-color: transparent; 
    box-shadow: none !important;
  }

  .ion-card-footer{
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  


    span{
        color: lightslategray;
        font-size: 15px;
        font-weight: 200;
    }
  }

  button{
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
    color: gray;

  }

  button:hover{
    color: black;
  }

  .book_portada{
    width: 30%;
    height: 30%;
    margin-left: auto;
  }