<ion-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <ion-toolbar>
    <ion-title>Reading Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  </ion-card>

  
  <ion-item>
    <ion-label position="stacked">Clasificacíon</ion-label>
    <div class="container" >
     <div class="rating">
      <input type="radio" name="clr1" style="--c:#ff9933">
      <input type="radio" name="clr1" style="--c:#ff9933">
      <input type="radio" name="clr1" style="--c:#ff9933">
      <input type="radio" name="clr1" style="--c:#ff9933">
      <input type="radio" name="clr1" style="--c:#ff9933">
    </div>
  </div>
  </ion-item>
  

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Autor</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Comienzo</ion-label>
      <ion-input type="date" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Fin</ion-label>
      <ion-input type="date" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Cita Favorita</ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Reseña</ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="full" >Guardar</ion-button>
</ion-content>
