<ion-header no-bord>
  <ion-toolbar>
    <ion-title style="background-color: #EAF2F8;">Productos</ion-title> 
      <ion-buttons slot="start">
          <ion-back-button defaultHref="inicio" text="">
        </ion-back-button>
      </ion-buttons> 
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Libros</ion-title>
    </ion-toolbar>
    <ion-searchbar color= "light"animated="true" placeholder="Titulo, Autor o ISBN"></ion-searchbar>
    <!-- <ion-searchbar show-clear-button="always" value="Titulo, Autor o ISBN"></ion-searchbar> -->
  </ion-header>


  <div class="producto">
    <ion-card class="card">
      <img src="assets/imagenes/libro2.jfif" alt="">
      <ion-card-header>
      <ion-card-title>Bajo la misma estrella</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button>Comprar</ion-button> 

  </ion-card>

    <ion-card class="card">
      <img src="assets/imagenes/libro3.jfif" alt="">
      <ion-card-header>
      <ion-card-title>El arte de ser nosotros</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button>Comprar</ion-button> 
  </ion-card>
  <ion-card class="card">
    <img src="assets/imagenes/libro4.jfif" alt="">
    <ion-card-header>
    <ion-card-title>la hipotesis del amo</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
  <ion-button>Comprar</ion-button> 
  </ion-card>
  <ion-card class="card">
    <img src="assets/imagenes/libro5.jfif" alt="">
    <ion-card-header>
    <ion-card-title>Un cuento perfecto</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
  <ion-button>Comprar</ion-button> 
  </ion-card>

  </div>

 