
<ion-content style="background-color: #EAF2F8 ;" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="background-color: #EAF2F8;">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <swiper-container
  #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true"
  [zoom]="true"
  >
  <swiper-slide *ngFor="let image of images"> 
    <div class="swiper-zoom-container">
      <img [src]="image" />
    </div>
    </swiper-slide>
  </swiper-container>
  <ion-card class="p">
    <br>
    <ion-icon name="library-outline"></ion-icon>
    <ion-card-title >Comprar libros</ion-card-title>
    <br>
  </ion-card>  
  <ion-card class="p">
    <br>
    <ion-icon name="chatbox-ellipses"></ion-icon>
    <ion-card-title >Rating</ion-card-title>
    <br>
  </ion-card>  
  <ion-card class="p">
    <br>
    <ion-icon name="people"></ion-icon>
    <ion-card-title >Nosotros</ion-card-title>
    <br>
  </ion-card>  
  <br>
  <ion-button (click)="cerrarSesion()" color="success" type="button" expand="block" shape="round">
    Cerrar sesión
  </ion-button>

</ion-content>

