<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
  <swiper-container
  #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true"
  [zoom]="true"
  >
  <swiper-slide *ngFor="let image of images"> 
    <div class="swiper-zoom-container">
      <img [src]="image" />
    </div>
    </swiper-slide>
  </swiper-container>

 <!-- <ion-card class="p">
    <br>
    <ion-icon name="airplane-outline"> 
    <ion-card-title >Envio Gratuito</ion-card-title>
    <ion-card-subtitle>En pedidos sobre los $20.000</ion-card-subtitle>
    <br>
  </ion-card> -->

  <ion-card class="p">
    <br>
    <ion-icon name="library-outline"></ion-icon>
    <ion-card-title >Comprar libros</ion-card-title>
    <br>
  </ion-card>  
</ion-content>

